@font-face {
   font-family: 'UID SALMON 2019 ';
   font-display: swap;
   src: url('file:///C:/Users/DEll/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-11_014416/fonts/UID%20SALMON%202019%20/font.ttf');
}
